<div class='content'>
        <mat-card>
                <div class="input-position">
                        Email:{{user.email}}
                </div>
        
        </mat-card>
        
<form action="">
        <mat-card>
                <mat-form-field>
                        <div class="input-position">
                                Name:<input matInput #newFirstName [value]='user.firstName'>
                        </div>
                </mat-form-field>
        </mat-card>
        <mat-card>
                <mat-form-field >
                        <div class="input-position" >
                                Surname:<input #newLastName matInput [value]='user.lastName'>
                        </div>
                </mat-form-field>
        </mat-card>
</form>
        <div class="buttons">
        
                <button class="button" mat-fab color="warn" (click)="redirectTodo()">Back</button>
                <button class="button" type="submit" mat-fab color="" (click)="saveUserInfo(newFirstName,newLastName)">Save</button>
        
        </div>
</div>