:host{
      align-items: center; 
}
  mat-card {
    justify-content: center;
    margin: 5px;
    max-height: 35px;
    width: 93%;
    display: flex;
  }

  .buttons{
    text-align: -webkit-center;
    .button{
      margin: 8px 19px 0 0px;
    }
  }
  
  .input-position{
    display: flex;
  }
