<mat-dialog-content>Change task name</mat-dialog-content>
<form>
    <mat-form-field>
        <input #TaskTitle class="form-fild" matInput placeholder="New Name"
       [value]="data.title"  type="text">
    </mat-form-field>
    <div class="deadLineTime">
            <mat-form-field >
                 <input class="deadLineFild" matInput [matDatepicker]="deadline" [formControl]="serializedDate">
                 <mat-datepicker-toggle [for]="deadline" matSuffix></mat-datepicker-toggle>
                 <mat-datepicker #deadline></mat-datepicker>
            </mat-form-field>
       </div>
               <ngx-timepicker-field  [formControl]="serializedTime" [format]="24" [defaultTime]="'00:00'"></ngx-timepicker-field>

       <mat-dialog-actions>
            <button mat-raised-button  color="primary" (click)=saveChages(TaskTitle)>Save</button>
        </mat-dialog-actions>
</form>