<div>
     <form action="" [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
        <input matInput placeholder="Enter your email" formControlName="email" required>
        <mat-error *ngIf="form.get('email').invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input type="password" matInput placeholder="Enter your password" formControlName="password" required>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </form> 
</div>