::-webkit-scrollbar {
  display: none;
}
mat-card {
  margin: 5px;
  max-height: 35px;
  min-width: 350px;
  max-width: 350px;
  display: flex;
}
.listArea {
  position: absolute;
  overflow: auto;
  bottom: -425px;
  left: -15px;
  height: 380px;
}

