mat-card {
  margin: 5px 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;


  button {
    height: 35px;
  }
  mat-card-actions{
    position: absolute;
    left: 69%;
  }
  mat-card-footer {
    position: absolute;
    height: 90px;
    right: 53%;
    bottom: 10px;
  }
  mat-card-title {
    width: 350px;
    max-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  mat-card-subtitle {
    position: absolute;
    bottom: -15%;
  }
  .deadLineTime {
    position: absolute;
    width: 200px;
    left: 30%;
  }
  .effectively{
    position: absolute;
    right: 25px;
    top: 10px;
    width: 150px;
  }
}

.striked {
  text-decoration: line-through;
}
