mat-card {
  margin: 5px;
  max-height: 35px;
  min-width: 350px;
  max-width: 350px;
  display: flex;

  .completeButton {
    left: 52%;
  }
  .deleteButton {
    left: 75%;
  }
  .confirmButtonYes {
    left: 58%;
  }
  .confirmButtonNo {
    left: 75%;
  }
  button {
    position: absolute;
    height: 35px;
  }
  mat-card-footer {
    position: absolute;
    height: 90px;
    right: 53%;
    bottom: 10px;
  }
  mat-card-title {
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  mat-card-subtitle {
    position: absolute;
    bottom: -15%;
  }
  .deadLineTime {
    position: absolute;
    width: 80px;
    left: 30%;
  }
  .effectively{
    position: absolute;
    right: 25px;
    top: 10px;
    width: 150px;
  }
}

.striked {
  text-decoration: line-through;
}
